<form class="col-md-5 login_form" [formGroup]="forgetPasswordInternalForm">
<h2>Forget something?</h2>
<p class="welcome-text">We're here to help...</p>
<p class="col-xs-12 no_padding reset-text">Please contact IT support at 877-228-5621 for assistance with retrieving your password, or reset your password by clicking below.</p>
<p class="text-danger text-left serverError" *ngIf="errorMessage"><span >{{errorMessage}}</span></p>
<div class="col-xs-12 no_padding">
<a id="btn-login" [routerLink]="['/passcodesent']" class="btn btn-success">Reset Password</a>
</div>
<div class="col-xs-12">
<a [routerLink]="['/login']" class="forgot_link">Return to Login</a>
</div>
</form>