@import '../../login.component.scss';
/* Create Password */
.create_pwd_rules {
    text-align: left;
    padding: 0px 35px 10px 35px;
}
.create_pwd_rules p { margin-bottom: 5px;}
.create_pwd_rules span {
    font-size: 12px !important;
    font-weight: 400;
    color: #797979;
    font-style: italic;
}
.create_pwd_rules i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: sub;
}