<form class="col-md-5 login_form" [formGroup]="createPasswordForm" (ngSubmit)="onCreatePassword()">
<h2>Create your password</h2>
<p class="welcome-text">Welcome!</p>
<p class="text-danger text-left serverError" *ngIf="errorMessage">{{errorMessage}}</p>
<div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <input type="password" class="form-control" name="password" value="" placeholder="Password" formControlName="password" (focus)="removeMessages()">                                        
    </div>
</div>
<div class="form-group">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <input type="password" class="form-control" name="password" value="" placeholder="Confirm Password" formControlName="confirmPassword" (focus)="removeMessages()">                                        
    </div>
    <app-form-error [displayError]="!ifFormCheck()" [errorMsg]= (validationMessages.confirmPassword)>
    </app-form-error>
</div>
<div class="col-xs-12 create_pwd_rules">
    <p><span><i class="fa fa-check-circle" aria-hidden="true" [ngClass]="passwordLength()"></i>At least 8 characters</span></p>
    <p><span><i class="fa fa-check-circle" aria-hidden="true" [ngClass]="upperCharacter()"></i>At least 1 uppercase letter</span></p>
    <p><span><i class="fa fa-check-circle" aria-hidden="true" [ngClass]="specialCharacter()"></i>At least 1 special character</span></p>
</div>
<div class="col-xs-12 no_padding">
    <input type="submit" id="btn-login" class="btn btn-success" value="Continue" [disabled]=  (enableResetPassword) />
</div>
<div class="col-xs-12">
<a href="#" class="forgot_link">Log In</a>
</div>
</form>